@use "variables" as var;

.p-card {

  &.tour-p-card {
    height: 400px;
    overflow: hidden;


    & .p-card-header {
      height: 180px;

      & img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }

    & .p-card-content {
      mask-image: linear-gradient(180deg, #000 60%, transparent);
      -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    }
  }
}

.p-menubar-root-list {
  min-width: 106px;
  max-width: 300px;
}

.p-menubar-mobile {
    width: 41px;
}

.tour-item-galleria {

  & .p-galleria-item {
    height: 250px;
  }
}

p-menubarsub {
  & .p-menubar-item-link {
    color: var.$header-footer-color;
  }
  & .p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
    // background-color: rgba(255,255,255, 0.1);
    background-color: #3f3f46;
  }
}
p-menubar {
  & .p-menubar-button:hover{
    background: none;
  }
  & .p-menubar.p-component:not(.p-menubar-mobile) {
    background: none;
    border: none;
  }
}

.dialog-delete-tour.p-dialog {
  width: 400px;
  height: 250px;
}

.aside {
  & .p-datepicker {
    width: 100%;
  }
}

.logout {
  & .p-button-icon {
    color: var.$header-footer-color;
  }

  & .p-button-label {
    color: var.$header-footer-color;
  }
}

.not-visible {
  & .p-badge {
    visibility: hidden;
  }
}

.p-datatable-tbody > tr:hover {
  background: rgba(255,255,255,0.1);
}
