<div class="flex justify-content-center">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0" (click)="toggleAuth()">Авторизация</p-tab>
      <p-tab value="1" (click)="toggleReg()">Регистрация</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [@openClose]="isAuth ? 'open' : 'closed'" value="0">
        <app-authorization></app-authorization>
      </p-tabpanel>
      <p-tabpanel [@openClose]="isReg ? 'open' : 'closed'" value="1">
        <app-registration></app-registration>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
