<div class="m-5">
<p-table [value]="basketItems | async" [tableStyle]="{ 'min-width': '50rem', 'max-width': '1300px' }">
    <ng-template #header>
        <tr>
            <th pSortableColumn="name">
              Тур <p-sortIcon field="name"/>
            </th>
            <th pSortableColumn="country.name_ru">
              Страна <p-sortIcon field="country.name_ru"/>
            </th>
            <th [style]="{'text-align': 'right'}" pSortableColumn="sum">
              Цена <p-sortIcon field="sum"/>
            </th>
            <th pSortableColumn="date">
              Дата <p-sortIcon field="date" />
            </th>
            <th style="width:30px">

            </th>
        </tr>
    </ng-template>
    <ng-template #body let-tour>
        <tr>
            <td>{{ tour.name }}</td>
            <td>
              @if (tour.country) {<img class="mr-1" [src]="tour.country?.flag_url" [alt]="tour.country?.name_ru"> {{ tour.country?.name_ru }}}
            </td>

            <td [style]="{'text-align': 'right'}">{{ tour.currency }}{{ tour.sum | number }}</td>
            <td>{{ tour.date | date: 'dd.MM.yyyy' }} </td>
            <td>
              <p-button
                variant="text"
                size="small"
                aria-label="Удалить"
                icon="pi pi-trash"
                severity="danger"
                (onClick)="removeItemToBasket($event, tour)"
              />
            </td>
        </tr>
    </ng-template>
</p-table>
<p-confirmdialog styleClass="dialog-delete-tour"/>
</div>
