<p-button
  label="Назад"
  styleClass="p-button-link"
  routerLink="/tours"
/>
<div class="flex flex-1 tour-item-wrap">
  @if (tour) {
    <div>
      <p-card

        header="{{tour.name}}"
        subheader="{{tour.price}}"
      >
        <img src="/img/{{tour.img}}" alt="Img-tour" class="w-full">
        <p>Тур-оператор: {{tour.tourOperator}}</p>
        <p>{{tour.description}}</p>
        @if (tour.type === 'group') {
          <p>Групповой тур</p>
        } @else if (tour.type === 'single') {
          <p>Одиночный тур</p>
        }
        <p>Дата тура: {{tourDate | date: 'dd.MM.YYYY'}}</p>
      </p-card>
    </div>
  } @else {
    <div class="no-data">Нет данных</div>
  }
  <div class="nearest-tour">
    <app-nearest-tours
      (onTourChange)="onTourChange($event)"
      [tour]="tour"
    />
  </div>
</div>

