<div class="layout-header">
  <div class="layout-header__menu">
    <p-menubar [model]="menuItems" />
  </div>
  <div class="layout-header__right-block">
    <div class="basket mr-4">
      <p-overlaybadge
        badgeSize="small"
        severity="warn"
        [value]="(basketStore$ | async).length"
        [ngClass]="{'not-visible': (basketStore$ | async).length==0}"
      >
        <p-button variant="outlined" size="small" aria-label="Удалить" icon="pi pi-shopping-cart" [severity]="(basketStore$ | async).length>0 ? 'success' : 'secondary'"/>
      </p-overlaybadge>
    </div>
    <div class="logout">
      <p-button
        [icon]="logoutIcon"
        label="{{user?.login}}"
        pTooltip="logout"
        (mouseenter)="hoverLogoutBtn(true)"
        (mouseleave)="hoverLogoutBtn(false)"
        (onClick)="logOut()"
        severity="secondary"
      />
    </div>
    <div class="date">
      <div>
        {{ dateTime | date: 'HH:mm:ss' }}
      </div>
      <div>
        {{ dateTime | date: 'EEEE' }}
      </div>
    </div>
  </div>
</div>
