:host {
  display: block;
}

.tours-list {
  & .tour-item {
    position: relative;
  }
}

.find-tour {
  margin-left: 42px;
  margin-right: 42px;
}

.tour-item {
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  opacity: .8;
  width: 350px;

  &:hover {
    transition: opacity 0.2s ease-out;
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: #b91818 1px solid;
    border-radius: 10px;
  }

  & .country-info {
    transition: color 0.15s ease-out;
    margin: 0;
    padding: 0.5rem 0 ;
    & img {
      transition: opacity 0.2s ease-out;
      opacity: 0.6;
    }
  }

  & .country-info:hover {
    color: #b5ffff;
    transition: color 0.2s ease-out;
    & img {
      transition: opacity 0.2s ease-out;
      opacity: 1;
    }
  }
}

.weather {
  display: flex;
  align-items: center;
}
