:host {
  display: block;
}

.tours-list {
  & .tour-item {
    position: relative;
  }
}

.find-tour {
  margin-left: 42px;
  margin-right: 42px;
}

.tour-item {
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}
