<footer>
    <div class="dark_waves"></div>
    <div class="footer_content">
      <div class="container">
        <div class="flex">
          <div class="footer__item col-md-3">
            <p class="title-item">ANGULAR TOURS</p>
            <p>&copy;&nbsp;alex 2025. Все права защищены.</p>
          </div>
          <div class="footer__item col-md-3">
            <p class="title-item">РАЗДЕЛЫ</p>
            <nav>
              <ul class="footer-nav list-none">
                <li class="footer-nav__item"><a routerLink="/tours" class="footer-nav__link link">Туры</a></li>
                <li class="footer-nav__item"><a routerLink="/settings" class="footer-nav__link link">Настройки</a></li>
                <li class="footer-nav__item"><a routerLink="/orders" class="footer-nav__link link">Заказы</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__item col-md-3">
            <p class="title-item">КОНТАКТЫ</p>
            <a href="mailto:alex@mralex.su" class="footer-contact__link link">
              <i class="pi pi-at mr-2"></i>
              alex&#64;mralex.su
            </a>
            <a href="tel:+78127030202" class="footer-contact__link link">
              <i class="pi pi-phone mr-2"></i>
              (812) 640-8-640
            </a>
            <!-- <p>Санкт-Петербург, Искровский пр., д. 32</p> -->
          </div>
          <!-- <div class="footer__item col-md-3">
            <p>ПОСЕТИТЕ НАС В СОЦ. СЕТЯХ</p>
            <div class="footer-social">
              <a class="footer__icon i-vk" href="https://vk.com/"></a>
              <a class="footer__icon i-tw" href=""></a>
              <a class="footer__icon i-f" href=""></a>
              <a class="footer__icon i-t" href="https://t.me/"></a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </footer>
