<div class="aside mx-3 my-7">
  <p class="title-filter">Тип тура</p>
  <p-select
    [options]="tourTypes"
    [(ngModel)]="selectedType"
    (onChange)="changeTourType($event)"
    optionLabel="label"
    placeholder="Выберите тип тура"
    class="w-full"
  />
  <p class="mt-4 title-filter">Дата тура</p>
  <div>
    <p-datepicker
      [(ngModel)]="date"
      [showButtonBar]="true"
      [showIcon]="true"
      [readonlyInput]="true"
      (onSelect)="changeDate($event)"
      (onClearClick)="changeDate(null)"
      dateFormat="dd.mm.yy"
    />
  </div>
  @if (date || selectedType.key !== 'all') {
    <div class="clear-filter mt-6">
      <p-button label="Очистить фильтры" icon="pi pi-filter-slash" severity="warn" (onClick)="clearFilter()" />
    </div>
  }
</div>
