<div class="ticket-info-wrap col-6 ml-3">
  <div>
    <a routerLink="/tours">Назад</a>
    <div class="flex">
      <div class="col-6 mt-3">
        <h2>Информация о туре</h2>
        <p>Название {{tour?.name}}</p>
      </div>
      <div class="ml-8 mt-3">
        <h2>Информация о покупателе</h2>
        <form>

          <div class="mt-3 user-info" [formGroup]="userForm">

            @for (fieldObj of userFormFieldsArr; track fieldObj.control) {
              <ng-container
                [ngTemplateOutlet]="formField"
                [ngTemplateOutletContext]="fieldObj"
              />
            }

            <div class="form-group mt-6">
              <p-button
                styleClass="btn btn-primary"
                [disabled]="!userForm.valid"
                label="Перейти к оформлению"
                (onClick)="initOrder()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formField let-control="control" let-placeHolder="placeHolder" let-label="label" let-type="type">
  <div [formGroup]="userForm" class="form-group mt-3">
    <label [attr.for]="control" class="label-form-control">{{label}}</label>
    @if (type === 'text') {
      <input
        type="text"
        class="form-control"
        [id]="label"
        pInputText
        [formControlName]="control"
        [placeholder]="placeHolder"
      >
    } @else if (type === 'number') {
      <p-inputnumber
        styleClass="form-control"
        [inputId]="control"
        [name]="control"
        [showButtons]="true"
        [formControlName]="control"
        [min]="0"
      />
    } @else {
      <p-datepicker
        styleClass="form-control"
        [name]="control"
        [inputId]="control"
        [formControlName]="control"
        dateFormat="dd.mm.yy"
      />
    }
  </div>
</ng-template>
